.custom-scroll::-webkit-scrollbar {
  height: 4px; /* Thin and elegant */
}

.custom-scroll::-webkit-scrollbar-track {
  background: #f3f4f6; /* Light gray track (gray-100) */
  margin: 0 40px; /* Pulls the scrollbar away from the edges */
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #000; /* Black thumb for high contrast */
  border-radius: 10px;
}

/* Dark mode support */
.dark .custom-scroll::-webkit-scrollbar-track {
  background: #1f2937; /* gray-800 */
}

.dark .custom-scroll::-webkit-scrollbar-thumb {
  background: #fff;
}
